<header class="header">
  <div class="header--image" style="background-color:#000;">
    <div class="row">
      <div class="column small-4">
        <h1>{{ site.title }}</h1>
      </div>
      <div class="column small-8">
          <h4><strong>TILiMa</strong> signifie <strong>T</strong>uyaux <strong>I</strong>nternet <strong>L</strong>ibre du <strong>M</strong>aine.{{ site.metadata.description }}</h4>
      </div>
    </div>
  </div>
</header>
