<div class="post-list">
  <div class="post-list--data">
      <a href="{{ post.url }}"><h1 class="dark">{{ post.title }}</h1></a>
      <a href="{{ post.url }}"><date>{{ post.date|date("d/m/Y H:i") }}</date></a>
      <p>{{ post.summary }}</p><a href="{{ post.url }}"><span class="read-more">Lire plus...</span></a>
  </div>
</div>
