.header--image {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: block;
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

@include breakpoint(medium) {
  .header--image {
    padding: 100px 0;
  }
}

.small-4 h1 {
    font-family: "amatic-bold";
    font-size: 122px;
}

.small-8 h4 {
    font-family: "amatic-regular";
    font-size: 36px;
    strong {
        font-family: "amatic-bold";
        font-weight: bold;
    }
}
