{% embed 'partials/base.html.twig' %}

{% block content %}
<article class="post column small-12">
    <header class="post--header">
        <h1>{{ page.title }}</h1>
        <date class="post--date">{{ page.date|date("d/m/Y H:i") }}</date>
    </header>
    <section class="post--body">
        {{ page.content }}
    </section>
</article>

<div class="post--meta column small-12">
    <h5 class="dark">Posté par {{ page.header.author }}</h5>
</div>

<div class="post--nav column small-12">
    {% if not page.isFirst %}
    <span class="prev">
        <a href="{{ page.nextSibling.url }}">
            <span class="arrow">←</span>
            {{ page.nextSibling.title }}</a>
    </span>
    {% endif %}

    {% if not page.isLast %}
    <span class="next">
        <a href="{{ page.prevSibling.url }}">{{ page.prevSibling.title }}
            <span class="arrow">→</span>
        </a>
    </span>
    {% endif %}
</div>

{% if page.header.disqus %}
<div class="archive readmore column small-12">
    <h3>Comments</h3>
    {% include 'partials/disqus.html.twig' %}
</div>
{% endif %}

{% endblock %}

{% endembed %}
